<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiale.thesis.mapper.AuditStatusCategoryMapper">
    <select id="findAuditStatusCategory" resultType="INTEGER">
        SELECT
            COUNT(*)
        FROM
            audit_status_category audit_sc
        WHERE
            audit_sc.is_deleted = 0
            AND audit_sc.id = #{id}
    </select>
</mapper>