<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiale.thesis.mapper.customFormMapper.FormMapper">
    <resultMap id="BaseFormVOResultMap" type="com.jiale.thesis.entity.customForm.vo.FormVO">
        <id property="id" column="fId"/>
        <result property="name" column="fName"/>
        <result property="authorId" column="fAuthorId"/>
        <result property="formTemplateId" column="fFormTemplateId"/>
        <collection property="formInfoList" ofType="com.jiale.thesis.entity.customForm.FormInfoEntity">
            <id property="id" column="FormInfo_Id"/>
            <result property="formId" column="FormInfo_FormId"/>
            <result property="formComponentId" column="FormInfo_FormComponentId"/>
            <result property="value" column="FormInfo_Value"/>
        </collection>
    </resultMap>

    <sql id="selectFormVO">
        SELECT
            f.id fId,
            f.name fName,
            f.author_id fAuthorId,
            f.form_template_id fFormTemplateId,
            fi.id FormInfo_Id,
            fi.form_id FormInfo_FormId,
            fi.form_component_id FormInfo_FormComponentId,
            fi.value FormInfo_Value
        FROM
            form f
                INNER JOIN form_info fi ON f.id = fi.form_id
    </sql>
    <select id="selectFormVO" resultMap="BaseFormVOResultMap">
        <include refid="selectFormVO"/>
        WHERE
            f.is_deleted = 0
        AND fi.is_deleted = 0
        <if test="formId != null and formId != ''">
             f.id = #{formId}
        </if>
    </select>

    <select id="selectFormVOByTemplateId" resultMap="BaseFormVOResultMap">
        <include refid="selectFormVO"/>
        WHERE
            f.is_deleted = 0
        AND fi.is_deleted = 0
        AND f.id = (
            SELECT
                id
            FROM
                form f
            WHERE
                f.form_template_id = ${formTemplateId}
            AND f.author_id = ${authorId}
            ORDER BY
                f.create_time DESC
            LIMIT 1
        )
    </select>
</mapper>